pkgbase = elmerfem-base-bin
	pkgdesc = A finite element software for multiphysical problems (without GUI and Ice, precompiled)
	pkgver = 26.2.1
	pkgrel = 1
	url = https://www.elmerfem.org
	arch = x86_64
	license = GPL-2.0-only AND LGPL-2.1-only AND LicenseRef-Elmer
	depends = arpack
	depends = blas-openblas
	depends = hypre
	depends = openmp
	depends = openmpi
	provides = elmerfem-base
	conflicts = elmerfem-base
	conflicts = elmerfem-git
	conflicts = elemerfem
	source = https://github.com/tubbywrestler/elmerfem-base-bin/releases/download/26.2.1-1/elmerfem-base-26.2.1-1-x86_64.pkg.tar.zst
	sha256sums = bc0837706741633165e925f93e5c7541f3810628657882f86ef0524a3f36b0fd

pkgname = elmerfem-base-bin
